.App {
  text-align: center;
}
.textdiv {
  background-color:rgba(229, 151, 151, 0.3);
  overflow: auto;
  text-align: center;
  color: rgb(38, 38, 219);
  height: 200px;
  width: 200px;
  border: 2px solid gray;
  padding: 25px;
  word-wrap: break-word;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace, Times, serif;
  border-radius: 15px;
}
.button {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  background-color: rgb(188, 233, 41);
  /* Green */
  color:rgb(86, 31, 238)
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  color: rgb(11, 2, 90)
}
h1:hover{
  color: rgb(8, 0, 0)
} 